.error-message {
  background: rgb(247, 191, 191);
}
main {
  background-color: rgba(255, 255, 255, 0.8);
}
button {
  background: rgba(156, 200, 221, 0.8);
}
button:disabled {
  background: rgba(138, 159, 168, 0.5);
}
button:not(button:disabled):hover {
  background: rgb(129, 192, 221);
}