
:root {
  --element-margin-gap-size: 1rem;
}

body {
  background: url('../assets/index-background.svg');
  min-height: 100vh;
}
main {
  max-width: 80vw;
  min-height: 100vh;
  margin: 0 auto;
  padding: 5rem 0;
}
h1 {
  text-align: center;
}

/* Navigation */
nav {
  margin: 1rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 0.5fr;
  gap: var(--element-margin-gap-size);
  justify-content: center;
}
button {
  padding: 0.3rem 1rem;
  border-radius: 0.2em;
  transition: all 0.5s ease-out;
}
nav > p {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
  justify-self: left;
}
button:disabled {
  cursor: not-allowed;
}

/* Images */
.images {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 15rem)); 
  gap: var(--element-margin-gap-size);
  justify-content: center;
}
.image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  object-fit: cover;
  aspect-ratio: 1 / 1;
}
p.loading {
  text-align: center;
}
.loading > img {
  animation: spin 3000ms infinite linear;
}
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

/* Footer */
footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}
.error-message {
  width: 100%;
  height: auto;
  border-left: 9px solid rgb(247, 43, 43);
}
.error-message p {
  min-height: 100%;
  padding-left: 1rem;
  transform: translateY(50%);
}
.error-message img {
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
}
.hidden {
  display: none;
}
