
:root {
  --element-margin-and-gap-size: 1rem;
  --inner-elements-margin: 1rem;
}

body {
  min-height: 100vh;
  background: url('../assets/index-background.svg');
}
main {
  max-width: 80vw;
  min-height: 100vh;
  margin: 0 auto;
  padding: 5rem var(--inner-elements-margin);
}
h1 {
  text-align: center;
}

/* Navigation */
nav {
  margin: var(--element-margin-and-gap-size) 0;
  display: grid;
  grid-template-columns: 1fr auto auto 1fr;
  grid-template-rows: 1fr 0.5fr;
  gap: var(--element-margin-and-gap-size);
  justify-content: center;
}
button {
  padding: 0.3rem 1rem;
  border-radius: 0.3em;
  border: none;
  /* border: 1px solid rgba(40, 44, 44, 0.5); */
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease-out;
}
button#buttonPrevious {
  grid-column: 2 /span 1;
}
button#buttonNext {
  grid-column: 3 /span 1;
}
.page-index {
  padding-left: 1rem;
  grid-column: 2 / span 2;
  grid-row: 2 / span 1;
  justify-self: center;
}
button:disabled {
  cursor: not-allowed;
}

/* Images */
.images {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax( 5rem, 15rem)); 
  gap: var(--element-margin-and-gap-size);
  justify-content: center;
}
.image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  object-fit: cover;
  aspect-ratio: 1 / 1;
}
p.loading {
  text-align: center;
}
.loading > img {
  animation: spin 3000ms infinite linear;
}
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

/* Footer */
footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 1rem;
}
.error-message {
  width: 100%;
  padding: 1em;
  margin: 0;
  border-left: 9px solid rgb(247, 43, 43);
}
.error-message p {
  min-height: 100%;
  padding-left: 1rem;
}
.error-message img {
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
}
.hidden {
  display: none;
}
